.header {
  background: linear-gradient(315deg, #690500 3%, rgb(206, 60, 72) 38%, rgb(244, 237, 187) 68%, #690500 98%);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 15s ease infinite;
  padding: 20px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 50px;
  border-radius: 5px;
}

@media screen and (max-width: 601px) {
  .header__title {
    font-size: 22px;
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}
